<server description="Liberty server">
    <featureManager>
        <feature>microProfile-3.2</feature>
        <feature>openidConnectServer-1.0</feature>
    </featureManager>

    <httpEndpoint host="*" httpPort="${default.http.port}"
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <!-- Automatically expand WAR files and EAR files -->
  	<applicationManager autoExpand="true"/>

    <webApplication location="auth-ms-openliberty.war" contextRoot="/"/>

    <basicRegistry id="basic">
        <user name="foo" password="bar" />
        <user name="user" password="password"/>
        <group name="Admins">
          <member name="user" />
       </group>
       <group name="Users">
          <member name="foo" />
       </group>
  	</basicRegistry>

  	<!--keyStore id="defaultKeyStore" password="keypass" /-->
  	<!-- <sslDefault sslRef="defaultSSLConfig" /> -->

  	<ssl keyStoreRef="bcKeyStore"/>
  	<keyStore id="bcKeyStore" location="/etc/keystorevol/BCKeyStoreFile.jks" type="JKS" password="password" />  

  	<openidConnectProvider id="OP" oauthProviderRef="Oauth" signatureAlgorithm="RS256" keyStoreRef="bcKeyStore" keyAliasName="bckey" jwkEnabled="true" issuerIdentifier="${env.jwksIssuer}"/>

  	<oauthProvider httpsRequired="true" id="Oauth" tokenFormat="mpjwt"  >
    	<localStore>
    		<client name="bluecomputeweb" secret="bluecomputewebs3cret"
                	displayname="bluecomputeweb"
                	grant_types="password"
                	scope="openid admin blue"
                	preAuthorizedScope="openid admin blue"
                	enabled="true"
                	mapIdentityToRegistryUser="true">
    		</client>
    	</localStore>
  	</oauthProvider>
   <oauth-roles>
    <authenticated>
        <special-subject type="ALL_AUTHENTICATED_USERS" />
    </authenticated>
  </oauth-roles>

</server>
